<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.WAKE_LOCK" />

  <application>
    <service
      android:name="expo.modules.cadetebackgroundtracking.CadeteTrackingService"
      android:enabled="true"
      android:exported="false"
      android:foregroundServiceType="location"
      android:stopWithTask="false" />
  </application>
</manifest>
